<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<!--pdf报告生成路径，即监控路径-->
		<add key="path" value="D:\by\File\"/>
		<add key="ftpIp" value="192.168.1.10"/>
		<add key="ftpUserName" value="PDFFiles"/>
		<add key="ftpPassword" value="123456"/>
		<!--选择操作文件方式 1是共享文件夹 2是ftp上传 默认是1 -->
		<add key="handleType" value="2"/>

		<!--pdf报告类型  可用：BIHolter MLHolter  FGHolter PY  STDLBP   有BIECG BIHolter MLBP MLHolter MLStree  DMHolter  FG分归 FGHolter PY鹏阳 PY   STDLBP-->
		<add key="type" value="STDLBP"/>
	</appSettings>
</configuration>
